# Node
node_modules/

# Build outputs
platforms/android/app/build/
platforms/android/build/
platforms/android/CordovaLib/build/
platforms/android/.gradle/
*.apk

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
